@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,300;1,500;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,600;0,800;1,200;1,400;1,500;1,700&display=swap');

:root {
    --black: #191919;
    --heading: rgb(0 10 45);
    --text: #777;
    --text-tint: #e4e4e4;
    --brand: #8490ff;
    --bg: rgb(249 249 255);
    --icons-bg: rgba(144, 172, 209, 0.2);
    --white: #f3f4ff;
    --lineaer-background: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    --poppins: 'Poppins', sans-serif;
    --sans: 'Work Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 0.6rem;
}
html::-webkit-scrollbar-track{
    background-color: var(--text);
}
html::-webkit-scrollbar-thumb{
    background: var(--lineaer-background);
    border-radius: 0.5rem;
}
::selection{
    background:var(--brand) ;
    color: var(--white);
}
body {
    line-height: 1.5;
    overflow-x: hidden;
    font-family: var(--sans);
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    transition: var(--transition);
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--poppins);

}

h1 {
    font-size: 6rem;
    font-weight: 600;
    color: var(--heading);
    line-height: 1;
}

h2 {
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

h3 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
}

p {
    color: var(--text);
    line-height: 1.6;
    font-size: 1.5rem;
}

.upper {
    text-transform: uppercase;
}

section {
    padding: 9rem 0;
}

img {
    width: 100%;
}

.container {
    padding: 2rem 5%;
    max-width: 120rem;
    margin: auto;
}

/* Button  */
.btn {
    padding: 1.6rem 3.2rem;
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: var(--transition);
    color: var(--white);
}

.btn:hover,
.btn:active {
    box-shadow: rgba(0, 0, 0, 0.2) 0 2rem 2.5rem -0.5rem, rgba(0, 0, 0, 0.04) 0 1rem 1rem -0.5rem;

    transform: translateY(.5rem);
}

.btn-brand {
    background: var(--lineaer-background);
}

/* Navbar  */
.navbar {
    width: 100%;
    background: var(--bg);
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    transition: var(--transition);
    z-index: 99999;
}

.scroll-on {
    background-color: #fff;
    box-shadow: 0.2rem 0.3rem 1rem 0 rgba(0, 0, 0, 0.3);

}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar ul li {
    display: inline-block;
    margin: 0 1.3rem;
}
.navbar .logo{
    max-width: 8rem;
    height: auto;
}
.navbar ul li a {
    font-size: 1.5rem;
    color: var(--black);
    text-transform: capitalize;
    font-weight: 600;
    transition: var(--transition);
    letter-spacing: 0.5px;
}

.navbar ul li a:hover {
    color: var(--brand);
}

.toggle {
    width: 4.5rem;
    height: 4.5rem;
    background: var(--lineaer-background);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    border-radius: .6rem;
    display: none;
}


/* Home  */
.home {
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}

.home .start {
    font-weight: 600;
    color: var(--brand);
}

.home p {
    margin: 1rem 0;
}

.col-right .heroImg {
    width: 100%;
    border-radius: 0.6rem;
}

/* About  */
.about .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    align-items: center;
}

.about .col-left {
    box-shadow: -0.5rem -0.5rem 0.2rem 0 var(--brand);
}

.intro {
    margin-bottom: 3rem;
    text-transform: capitalize;
}

.intro p {
    max-width: 50rem;
}

.sub-heading {
    font-weight: 600;
    position: relative;
}

.sub-heading::before {
    content: '';
    position: absolute;
    min-width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: var(--lineaer-background);
    top: 100%;
    left: 0;
}

.sub-heading::after {
    content: '';
    position: absolute;
    min-width: 13rem;
    height: .2rem;
    background: var(--brand);
    top: 118%;
    left: 1.5rem;
}

.about .progress-stats {
    display: flex;
    flex-direction: column;
    padding: 6rem 0;
    gap: 3rem;
    z-index: 1;
}

.about .progress-bar {
    width: 90%;
    height: 1.2rem;
    border-radius: 1rem;
    background-color: var(--text-tint);
    box-shadow: 0 0 2rem 0 rgb(132 144 255 / 20%);
    position: relative;
}

.about .progress-bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: 80%;
    background: var(--lineaer-background);
    border-radius: 1rem;
}

.about .design::before {
    width: 0%;
    animation: des 3s linear forwards;
}

@keyframes des {
    100% {
        width: 80%;
    }
}

.about .html::before {
    width: 0%;
    animation: html 3s linear forwards;
}

@keyframes html {
    100% {
        width: 92%;
    }
}

.about .css::before {
    width: 0%;
    animation: css 3s linear forwards;
}

@keyframes css {
    100% {
        width: 75%;
    }
}

.about .js::before {
    width: 0%;
    animation: js 3s linear forwards;
}

@keyframes js {
    100% {
        width: 50%;
    }
}

.about .progress h3 {
    font-weight: 600;
}

.about .progress-bar span {
    position: absolute;
    width: 4rem;
    height: 2rem;
    top: 1.8rem;
    left: 76%;
    border: none;
    outline: none;
    background: var(--lineaer-background);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .html span {
    left: 86%;
}

.about .css span {
    left: 71%;
}

.about .js span {
    left: 46%;
}

.about .progress-bar span::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 0.8rem solid var(--brand);
    border-color: transparent;
    border-bottom-color: var(--brand);
    top: -1.6rem;
}

/* Services */
.services {
    background-color: var(--bg);
}

.services .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.offers {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 4rem 0rem;
    transition: all 0.5s linear;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 5px;
}

.offers:hover {
    transform: translateY(-1rem);
}

.offers .icon {
    width: 9rem;
    height: 9rem;
    border-radius: 56% 44% 76% 30% / 30% 44% 46% 76%;
    padding: 1.5rem 1rem;
    background-color: var(--icons-bg);
    border: 1px solid var(--black);
    text-align: center;
    animation: water-wave 3s linear infinite;
}

@keyframes water-wave {
    0% {
        border-radius: 56% 44% 76% 30% / 30% 44% 46% 76%;
    }

    50% {
        border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
    }

    100% {
        border-radius: 56% 44% 76% 30% / 30% 44% 46% 76%;
    }
}

.offers .icon i {
    font-size: 6.2rem;
}

.offer-info h3 {
    margin-top: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

/* Portfolio  */

.portfolio-btn {
    text-align: center;
}

.portfolio-btn .btn {
    margin: 0.9rem 1.5rem;
}

.portfolio .row {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    align-items: center;
}

.portfolio .project {
    position: relative;
    overflow: hidden;
    transition: all 0.6s ease;
    border-radius: 0.6rem;
    cursor: pointer;
}

.portfolio .project:hover .overly {
    opacity: 1;
    transform: translateY(0%);

}

.overly {
    position: absolute;
    background-color: rgba(33, 54, 235, 0.5);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.6s ease;
}

.overly h2 {
    color: var(--white);
    font-weight: 600;
    letter-spacing: 0.2rem;
    font-size: 5rem;
}

.p-btn-active {
    transform: translateY(-1rem);
}

.not-active {
    display: none;
}

/* Milestone  */
.milestone {
    background: var(--lineaer-background);
}

.milestone .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 3rem;
}

.milestone .col {
    text-align: center;
    color: var(--white);
}

.milestone .col h2 {
    font-weight: 600;
    color: var(--white);
}

.milestone .col p {
    color: var(--white);
}

/* Reviews  */
.review .row{
    margin-top: 5rem;
}
.client-msg{
    padding: 5rem 8rem;
    /* background-color: var(--white); */
    text-align: left;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
    position: relative;
}
.client-msg::after{
    content: '';
    position: absolute;
    bottom: -10rem;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid var(--white);
    border-color: transparent;
    border-top-color: var(--text-tint);
}
.client-msg p::after{
    content: "\f10d";
    position: absolute;
    top: 0;
    left: 2rem;
    font-size: 5rem;
    color: var(--brand);
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
}
.client-msg p::before{
    content: "\f10e";
    position: absolute;
    bottom: 0;
    right: 2rem;
    font-size: 5rem;
    color: var(--brand);
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
}
.swiper-slide .client-data img{
    max-width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border: 5px solid var(--brand);
    
}
.swiper-slide{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.client-data{
    display: flex;
    align-items: center ;
    justify-content: start;
    padding: 3rem 0;
    gap: 3rem;
}
.details{
    margin-left: 3rem;
}
/* Paralex  */
.paralex{
    background-image:linear-gradient(rgba(33, 54, 235, 0.5),rgba(33, 54, 235, 0.5)), url(../img/paralex.jpg);
    padding: 3rem 0;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.paralex .content h2{
    color: var(--white);
    text-transform: capitalize;
    font-weight: 600;
    font-size: 4rem;
}
.paralex .content h2 span{
    color: yellowgreen;
}
.paralex .content p{
    margin-bottom: 2rem;
    color: var(--white);
}


/* Contact  */
.contact{
    background-color: var(--bg);
}

form{
    padding: 5rem;
    transition: all 0.4s ease;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}
form:hover {
    background-color: var(--white);
    border: 1px solid var(--brand);
}
.form-control{
    height: 5rem ;
    border-radius: 0.2rem;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid var(--brand);
    font-family: var(--poppins);
    color: var(--black);
    font-size: 1.5rem;
    background: transparent;
}
textarea{
    border-radius: 0.2rem;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid var(--brand);
    font-family: var(--poppins);
    color: var(--text);
    font-size: 1.5rem;
    background: transparent;
}
input:focus,
textarea:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid var(--brand);
}
input::placeholder,
textarea::placeholder{
    color: var(--text);
    font-weight: 400;
}
.form-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
.map{
    min-height: 40rem;
    width: 100%;

}
/* Footer  */
footer{
    background-color: var(--black);
    color: var(--white);
    padding-top: 3rem;
    padding-bottom: 1rem;
}
footer .row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
footer .col h3{
    text-transform: capitalize;
    font-weight: 500;
}
footer .col ul{
    list-style: none;
}
footer .col ul li{
    margin: 0.6rem 0;
    display: flex;
    align-items: center;
    transition: all .4s ease;
}
footer .col ul li i{
    margin-right: 1rem;
}
footer .col p i{
    
    font-size: 1.5rem;
    margin-right: 1rem;
}
footer .col ul li a{
    color: var(--text);
    text-transform: capitalize;
    transition: all .4s ease;
}
footer .col ul li a:hover{
    color: var(--white);
}
footer .col ul li:hover i{
    transform: translateX(0.5rem);
}
.social-icons{
    text-align: center;
    margin: 2rem 0;
}
.social-icons a i{
    color: var(--white);
    font-size: 3rem;
    margin: 0 0.3rem;
    background-color: rgba(128, 128, 128, 0.438);
    padding: 1rem;
    border-radius: 0.3rem;
}
.credit{
    text-align: center;
}




/* JS Swiper CSS  */
html,
body {
    position: relative;
    height: 100%;
}
.backTop{
    background: var(--lineaer-background);
    width: 6rem;
    height: 6rem;
    padding: 0.5rem;
    font-size: 3rem;
    color: var(--white);
    border-radius: 50%;
    animation: water-wave 3s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 1.2rem;
    right: 3.2rem;
    opacity: 0;
    transition: all 0.5s ease;
    pointer-events: none;
}
.backTop.active{
    opacity: 1;
    pointer-events: auto;
    bottom: 3.2rem;
    z-index: 999;
    
}


body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    flex-direction: column;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}